.nav-editor {
    padding-bottom: 20px;
}

.container-body {
    padding-top: 20px;
}

.panel-department > .panel-body { 
    display: none; 
}

.panel-heading {
    cursor: pointer;
}

#imagebox-professor {
	height: 70px !important;
	max-height: 70px !important;
	max-width: 100% !important;
}

#imagebox-professor img {
	height: 100% !important;
	max-width: 100% !important;
}

#container-department, #container-professor, #container-department-courses {
	transition: all 0.5s ease;
}

.img-thumbs {
	max-height: 40px;
}

#filldepartmentprofessors, #filldepartmentcourses {
	margin-top: 10px;
}

#addeditcourse-id-container {
	display: none;
}

.openclose + .panel-body {
    display: none;
}

#department-selected, #container-showhide { display: none; }