* {
	box-sizing: border-box !important;
}

body {
    padding-top: 50px;
}

.pub-header-box {
	text-align: center;
}

.pub-container-master {
}

.pub-department-master {
}

.pub-news-master {
}

#pub-container-professor-input {
    display: none;
}

#filter-lastname-container {
	display: none;
}

#nav-button-professor.active a, #nav-button-news.active a {
    background-color: white;
    color: black !important;
}

#list-group-professors {
    margin-top: 20px;
}


/* group is a lot like clearfix */
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
